{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Contact Us</title>
  <link rel="stylesheet" href="{% static 'salon/contact.css' %}" />
</head>
<body>

<div class="contact-page">

  
  <div class="contact-left">
    <h2>Connect With Us</h2>
    <ul class="social-links">
      <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
      <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
      <li><a href="https://wa.me/your-number" target="_blank">WhatsApp</a></li>
      <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
    </ul>
  </div>

 
  <div class="contact-right">
    <h2>Send Us a Message</h2>
   <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Your Name" required><br>
        <input type="email" name="email" placeholder="Your Email" required><br>
        <input type="text" name="subject" placeholder="Subject" required><br>
        <textarea name="message" placeholder="Your Message" required></textarea><br>
        <button type="submit">Send</button>
    </form>

  </div>

</div>

</body>
</html>
