{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ingia kwa Mama Shantel</title>
  <link rel="stylesheet" href="{% static 'salon/login.css' %}">
</head>
<body>

  <div class="login-container">
    
    <div class="login-image">
      <img src="{% static 'salon/hair/fc2433b1991df3ac045d98d7d30c9def.jpg' %}" alt="Hairstyle">
    </div>

    <div class="login-form">
      <h2>Karibu, Ingia kwa Mama Shantel</h2>
      <form method="POST">
        {% csrf_token %}
        
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your phone number" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        {% if error %}
          <p style="color: red;">{{ error }}</p>
        {% endif %}

        <button type="submit" class="login-button">Login</button>
      </form>

      <div class="signup-section">
        <p>Don’t have an account?</p>
        <a href="{% url 'signup' %}" class="signup-button">Create Account</a>
      </div>
    </div>
  </div>

</body>
</html>
